*{
    margin:0;
}
.app
{
    height:100vh;
}
.sections{
    width:100%;
    height: calc(100vh - var(--navBarHeight)); /* subtract navbar height */
    background-color: black;
    position:relative;
    top:60px;
    scroll-behavior: smooth;
    /* remove scroll bars for all browsers*/
    scrollbar-width:none; /* firefox */
    scroll-snap-type:y mandatory;
}
.sections::-webkit-scrollbar{ /* other browser scrollbar */
    display:none;
}
.sections > * { /* for each */
    width: 100%;
    height: calc(100vh - var(--navBarHeight));
    scroll-snap-align:start;
}
@media all {
    .sections{
        scroll-snap-type:none;
    }
    
}